.container {
    position: relative;
    text-align: center;
    color: black;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Dancing Script", cursive;
    font-size: 40px;
  }
  .Top-left{
    position: absolute;
    top: 25%;
    left: 28%;
    font-family: "Dancing Script", cursive;
    font-size: 40px;
  }
  .bottom-left{
    position: absolute;
    bottom: 25%;
    left: 28%;
    font-family: "Dancing Script", cursive;
    font-size: 40px;
  }
  